<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="/imgs/dashGenLogo.png" alt="" width="60" height="44">
        </div>
        <button id="alterar-barra-de-navegação" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#barra-de-navegação"
            aria-controls="barra-de-navegação" aria-expanded="false" aria-label="expandir-ou-recolher-barra-de-navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra-de-navegação">
            <ul class="navbar-nav" aria-labelledby="alterar-barra-de-navegação">
                <li class="nav-item">
                    <a class="nav-link" href="/">Início</a>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="nav-link dropdown-toggle bg-transparent border-0" data-bs-toggle="dropdown" role="button"
                        aria-label="expandir-meus-dashboards" id="meus-dashboards">Meus
                        dashboards</button>
                    <ul class="dropdown-menu" aria-labelledby="meus-dashboards">
                        <li><a class="dropdown-item" href="/courseDashboards">Meus dashboards de
                                curso</a></li>
                        <li><a class="dropdown-item" href="/playlistDashboards">Meus dashboards de
                                playlist</a></li>
                        <li><a class="dropdown-item" href="/videoDashboards">Meus dashboards de
                                vídeo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/howToUse">Sobre o DashGen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>