<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="/imgs/dashGenLogo.png" alt="logotipo-do-site" width="60" height="44">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="barra-de-navegação" aria-expanded="false" aria-label="expandir-ou-colapsar-barra-de-navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra-de-navegação">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Início</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Meus
                        dashboards</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/courseDashboards">Meus dashboards de
                                curso</a></li>
                        <li><a class="dropdown-item" href="/playlistDashboards">Meus dashboards de
                                playlist</a></li>
                        <li><a class="dropdown-item" href="/videoDashboards">Meus dashboards de
                                vídeo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/howToUse">Sobre o DashGen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>