<div id="carousel4" class="carousel slide mb-3" data-ride="carousel" data-interval="false">
    <div class="carousel-inner px-5 py-3 bg-dark rounded">
        <div class="carousel-item active px-5">
            <h4 class="text-light">Vídeos</h4>
            <% for (let i = 0; i < 3; i++) { %>

            <% } %>
        </div>
        <div class="carousel-item px-5">
            <h4 class="text-light">Slides</h4>
            <% for (let i = 0; i < 3; i++)  { %>

            <% } %>
        </div>
        <div class="carousel-item px-5">
            <h4 class="text-light">Listas</h4>
            <% for (let i = 0; i < 3; i++)  { %>

            <% } %>
        </div>
        <div class="carousel-item px-5">
            <h4 class="text-light">Leituras</h4>
            <% for (let i = 0; i < 3; i++)  { %>

            <% } %>
        </div>
        <div class="carousel-item px-5">
            <h4 class="text-light">Quizzes</h4>
            <% for (let i = 0; i < 3; i++)  { %>

            <% } %>
        </div>
        <div class="carousel-item px-5">
            <h4 class="text-light">Links externos</h4>
            <% for (let i = 0; i < 3; i++)  { %>

            <% } %>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>