<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<h3 class="mb-4">Você está a um click de criar seu dashboard de vídeo!</h3>

<form action="/videoDashboards" method="POST">
    <div class="mb-3">
        <label class="form-label" for="videoUrl">Insira o URL do vídeo:</label>
        <input class="form-control" type="text" name="videoDashboard[videoUrl]" id="videoUrl" required>
        <p class="text-secondary mt-2">Não copie o URL direto da barra de endereço, clique sobre o vídeo com o botão
            direito do mouse e depois em "Copiar URL do vídeo". Para mais detalhes, clique <a href="/howToUse">aqui</a>.
    </div>
    <div>
        <button class="btn btn-success">Criar dashboard</button>
    </div>
</form>

<%- include('../partials/footer'); -%>