<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<h3 class="mb-4">Você está a um click de criar seu dashboard de vídeo!</h3>

<form action="/videoDashboards" method="POST">
    <div class="mb-3">
        <label class="form-label" for="videoUrl">Insira o URL do vídeo:</label>
        <input class="form-control mb-2" type="text" name="videoDashboard[videoUrl]" id="videoUrl" required>
        <p class="text-secondary">Copie o URL do vídeo clicando com o botão direito sobre o vídeo e depois em "Copy
            video
            URL" ou "Copiar URL
            do vídeo".</p>
    </div>
    <div>
        <button class="btn btn-success">Criar dashboard</button>
    </div>
</form>

<%- include('../partials/footer'); -%>