<% layout('layout/boilerplate') %>

<h1>Criar dashboard de vídeo</h1>

<form action="/videoDashboards" method="POST">
    <label for="videoUrl">Insira o URL do vídeo:</label>
    <input type="text" name="videoUrl" id="videoUrl">
    <button>Criar dashboard</button>
</form>