<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<h3>Ops, parece que você não adicionou nenhuma aula ao dashboard. Adicione pelo menos uma aula para ver o dashboard.
</h3>
<a class="btn btn-primary" href="/courseDashboards/<%= id %>">Editar dashboard.</a>

<%- include('../partials/footer'); -%>