<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="application/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <title>Dashboard de curso</title>
</head>

<body class="container">
    <div class="ratio ratio-1x1">
        <iframe class=""
            src="https://edisciplinas.usp.br/pluginfile.php/6848720/mod_folder/content/0/AulasNLinearAtualizado.pdf"
            frameborder="0"></iframe>
    </div>


</body>

</html>