<% layout('layout/boilerplate') %>

<h1>Criar dashboard de playlist</h1>

<form action="/playlistDashboards" method="POST">
    <label for="playlistUrl">Insira o URL da playlist:</label>
    <input type="text" name="playlistUrl" id="playlistUrl">
    <button>Criar dashboard</button>
</form>