<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<h3 class="mb-4">Você está a um click de criar seu dashboard de playlist!</h3>

<form action="/playlistDashboards" method="POST">
    <div class="mb-3">
        <label class="form-label" for="playlistUrl">Insira o URL da playlist do YouTube:</label>
        <input class="form-control" type="text" name="playlistDashboard[playlistUrl]" id="playlistUrl" required>
        <p class="text-secondary mt-2">Não copie o URL direto da barra de endereço, acesse a página da playlist e clique
            no botão de compartilhar para copiar o link. Para mais detalhes, clique <a href="/howToUse">aqui</a>.
        </p>
    </div>
    <div>
        <button class="btn btn-success">Criar dashboard</button>
    </div>
</form>

<%- include('../partials/footer'); -%>