<%- include('partials/header'); -%>

<h3 class="mb-4">O que você deseja criar hoje?</h3>

<div class="card-group">
    <div class="card">
        <img src="imgs/dashboardCurso.PNG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dashboard de curso</h5>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a type="button" class="btn btn-outline-primary" href="/courseDashboards/new">Criar</a>
        </div>
    </div>
    <div class="card">
        <img src="imgs/dashboardCurso.PNG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dashboard de playlist</h5>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a type="button" class="btn btn-outline-primary" href="/playlistDashboards/new">Criar</a>
        </div>
    </div>
    <div class="card">
        <img src="imgs/dashboardCurso.PNG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dashboard de vídeo</h5>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a type="button" class="btn btn-outline-primary" href="/videoDashboards/new">Criar</a>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>