<%- include('partials/header'); -%>
<%- include('partials/flash'); -%>

<h3 class="mb-4">O que você deseja criar hoje?</h3>

<div class="card-group">
    <div class="card d-inline-flex flex-column">
        <!-- <img src="imgs/dashboardCurso.PNG" class="card-img-top" alt="..."> -->
        <div class="card-body d-inline-flex flex-column justify-content-between">
            <div class="mb-4">
                <h5 class="card-title">Dashboard de curso</h5>
                <p class="card-text">Crie um dashboard de curso com material de apoio, exercícios e muito mais, a partir
                    de
                    uma playlist no YouTube. </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
            <div>
                <a type="button" class="btn btn-outline-primary" href="/courseDashboards/new">Criar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- <img src="imgs/dashboardCurso.PNG" class="card-img-top" alt="..."> -->
        <div class="card-body d-inline-flex flex-column justify-content-between">
            <div class="mb-4">
                <h5 class="card-title">Dashboard de playlist</h5>
                <p class="card-text">Crie um dashboard com qualquer playlist no YouTube.</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
            <div>
                <a type="button" class="btn btn-outline-primary" href="/playlistDashboards/new">Criar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- <img src="imgs/dashboardCurso.PNG" class="card-img-top" alt="..."> -->
        <div class="card-body d-inline-flex flex-column justify-content-between">
            <div class="mb-4">
                <h5 class="card-title">Dashboard de vídeo</h5>
                <p class="card-text">Crie um dashboard com um único vídeo do YouTube.</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
            <div>
                <a type="button" class="btn btn-outline-primary" href="/videoDashboards/new">Criar</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>