<%- include('partials/header'); -%>
<%- include('partials/flash'); -%>

<h1 class="mb-2 text-center">Como usar</h1>

<div class="p-2 px-4 rounded bg-dark text-light mb-3 fs-4">
    <h2>Navegação</h2>
    <ul class="list-group mb-3 px-4" aria-label="navegação-dentro-da-página">
        <li><a href="#intro">Introdução</a></li>
        <ul class="list-group ps-5">
            <li><a href="#whatIsIt">O que é o DashGen?</a></li>
            <li><a href="#dashboardTypes">Tipos de dashboard</a></li>
        </ul>
        <li class=""><a href="#copyPlaylistUrl">Como copiar o URL de uma playlist no YouTube</a></li>
        <ul class="list-group ps-5">
            <li class="">
                <a href="#copyPlaylistM1">Método 1 (pesquisando na caixa de pesquisa do YouTube)</a>
            </li>
            <li class="">
                <a href="#copyPlaylistM2">Método 2 (se já estiver vendo um vídeo na playlist)</a>
            </li>
        </ul>
        <li class=""><a href="#copyVideoUrl">Como copiar o URL de um vídeo no YouTube</a></li>
        <ul class="list-group ps-5">
            <li class="">
                <a href="#copyVideoM1">Método 1</a>
            </li>
            <li class="">
                <a href="#copyVideoM2">Método 2</a>
            </li>
        </ul>
</div>

<div class="mb-3 fs-4" id="intro">
    <h2 class="mb-3">Introdução</h2>

    <div class="mb-3" id="whatIsIt">
        <h3>&#10095;&nbsp; O que é o DashGen?</h3>
        <p class="mt-3">O DashGen é um site que tem como objetivo auxiliar professores na organização de conteúdo
            didático e estruturação da aula, possibilitando que o docente crie dashboards com materiais de
            apoio a partir de aulas no YouTube. Um dos principais atributos do DashGen é a praticidade na criação dos
            dashboards, não havendo a necessidade de nenhum tipo de experiência prévia ou longo tempo de adaptação ao
            uso da ferramenta.</p>
    </div>
    <div class="mb-3" id="dashboardTypes">
        <h3>&#10095;&nbsp;Tipos de dashboard</h3>
        <p class="mt-3">Com o DashGen, é possível criar 3 tipos de dashboard:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="mt-3">Dashboard de curso</h4>
                <p class="mt-3">O <span class="fw-bold">dashboard de curso</span>, criado a partir de uma playlist de
                    aulas no
                    YouTube, é um
                    dashboard
                    organizado em aulas, cada uma tendo materiais separados em pré-aula, para a aula e pós-aula.
                    Materiais
                    essenciais são separados dos materiais não essenciais, para melhor organização do discente.</p>
                <p><a target="_blank"
                        href="https://dashgen.vercel.app/courseDashboards/63b985852bc340ea00a499fb/dash/0">&#9715;&nbsp;Clique
                        aqui
                        para ver um
                        exemplo de dashboard
                        de
                        curso.</a>
                </p>
                <p><a target="_blank" href="/courseDashboards/new">&#9715;&nbsp;Ou aqui para criar o seu dashboard de
                        curso.</a> Não
                    se
                    esqueça de seguir <a href="#copyPlaylistUrl">estas recomendações</a> para copiar o URL do seu
                    conteúdo no
                    YouTube.</p>
            </li>
            <li class="list-group-item">
                <h4 class="mt-3">Dashboard de playlist</h4>
                <p class="mt-3">O <span class="fw-bold">dashboard de playlist</span>, criado a partir de uma playlist
                    qualquer
                    no
                    YouTube, é um
                    dashboard com uma playlist do YouTube embutida. Por não ter que acessar o YouTube, em que há muita
                    informação irrelevante am relação ao contexto da aula, o discente não é tão facilmente distraído.
                </p>
                <p><a target="_blank"
                        href="https://dashgen.vercel.app/playlistDashboards/63d850e2001be4d08c7efd3d/dash/0">&#9715;&nbsp;Clique
                        aqui para ver um exemplo de dashboard
                        de
                        playlist.</a>
                </p>
                <p><a target="_blank" href="/playlistDashboards/new">&#9715;&nbsp;Ou aqui para criar o seu dashboard de
                        playlist.</a>
                    Não se
                    esqueça de seguir <a href="#copyPlaylistUrl">estas recomendações</a> para copiar o URL do seu
                    conteúdo no
                    YouTube.</p>
            </li>
            <li class="list-group-item">
                <h4 class="mt-3">Dashboard de vídeo</h4>
                <p class="mt-3">O <span class="fw-bold">dashboard de vídeo</span>, criado a partir de um vídeo
                    qualquer
                    no
                    YouTube, é um
                    dashboard com um vídeo do YouTube embutido. Da mesma forma que ocorre com o dashboard de playlist,
                    por não ter que acessar o YouTube, em que há muita
                    informação irrelevante am relação ao contexto da aula, o discente não é tão facilmente distraído.
                </p>
                <p><a target="_blank"
                        href="https://dashgen.vercel.app/videoDashboards/63d852689cd209d70bc75864/dash">&#9715;&nbsp;Clique
                        aqui
                        para ver um exemplo de dashboard
                        de
                        vídeo.</a>
                </p>
                <p><a target="_blank" href="/videoDashboards/new">&#9715;&nbsp;Ou aqui para criar o seu dashboard de
                        vídeo.</a>
                    Não se
                    esqueça de seguir <a href="#copyVideoUrl">estas recomendações</a> para copiar o URL do seu
                    conteúdo no
                    YouTube.</p>
            </li>
        </ul>


    </div>
</div>

<div class="mb-3 fs-4" id="copyPlaylistUrl">

    <h2 class="mb-3">Como copiar o URL de uma playlist no YouTube</h2>

    <div class="mb-3" id="copyPlaylistM1">
        <h3 class="mb-3">&#10095;&nbsp;Método 1</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo 1:</span> Pesquise pela playlist no YouTube e clique em
                    "VIEW FULL
                    PLAYLIST" ou "VER
                    PLAYLIST COMPLETA".</p>
                <img class="w-100 py-1" src="../imgs/copyPlaylistUrl1-1.jpg"
                    alt="instrução 1 para copiar URL da playlist pelo método 1">
            </li>
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo 2:</span> Clique no botão de compartilhar, representado por
                    uma seta
                    para a direita,
                    conforme mostrado na imagem abaixo.
                </p>
                <img class="w-100 py-1 mb-1" src="../imgs/copyPlaylistUrl1-2.jpg"
                    alt="instrução 2 para copiar URL da playlist pelo método 1">
            </li>
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo 3:</span> Clique em "Copy" ou "Copiar".</p>
                <img class="w-100 py-1 mb-1" src="../imgs/copyPlaylistUrl1-3.jpg"
                    alt="instrução 3 para copiar URL da playlist pelo método 1">
            </li>
        </ul>
    </div>

    <div class="mb-3" id="copyPlaylistM2">
        <h3 class="mb-3">&#10095;&nbsp;Método 2</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo 1:</span> Caso já esteja vendo um vídeo na playlist, clique
                    no nome
                    da
                    playlist, à direita do vídeo.</p>
                <img class="w-100 py-1" src="../imgs/copyPlaylistUrl2-1.jpg"
                    alt="instrução 1 para copiar URL da playlist pelo método 2">
            </li>
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo 2:</span> Clique sobre o botão de compartilhar na página que
                    abrir e
                    selecione "Copy" ou "Copiar", conforme mostrado nos passos 2 e 3 do <a href="#copyPlaylistM1">método
                        1.</a>
                </p>
            </li>
        </ul>
    </div>

</div>

<div class="mb-3 fs-4" id="copyVideoUrl">
    <h2 class="mb-3">Como copiar o URL de um vídeo no YouTube</h2>
    <div class="mb-3" id="copyVideoM1">
        <h3 class="mb-3">&#10095;&nbsp;Método 1</h3>

        <ul class="list-group">
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo 1:</span> Acesse o vídeo cujo URL deseja copiar e clique em
                    "Share"
                    ou
                    "Compartilhar".</p>
                <div class="d-flex justify-content-center">
                    <img class="w-75 py-1" src="../imgs/copyVideoUrl1.jpg"
                        alt="instrução 1 para copiar URL do vídeo pelo método 1">
                </div>
            </li>
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo 2:</span> Clique em "Copy" ou "Copiar".
                </p>
                <div class="d-flex justify-content-center">
                    <img class="w-50 py-1 mb-1" src="../imgs/copyVideoUrl2-fix.jpg"
                        alt="instrução 2 para copiar URL do vídeo pelo método 1">
                </div>
            </li>
        </ul>


    </div>
    <div class="mb-3" id="copyVideoM2">
        <h3 class="mb-3">&#10095;&nbsp;Método 2</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <p class="mt-3"><span class="fw-bold">Passo único:</span> Acesse o vídeo cujo URL deseja copiar, clique
                    sobre o
                    mesmo com o botão direito e então clique em "Copy video URL" ou "Copiar URL do vídeo".</p>
                <div class="d-flex justify-content-center">
                    <img class="w-75 py-1" src="../imgs/copyVideoUrl3.jpg"
                        alt="instrução única para copiar URL do vídeo pelo método 2">
                </div>
            </li>
        </ul>
    </div>
</div>

<%- include('partials/footer'); -%>