<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<h1 class="mb-4">Você está a um click de criar seu dashboard de curso!</h1>

<div class="d-none text-danger mb-3" id="invalidFeedback"></div>
<form action="/courseDashboards" method="POST">
    <div class="mb-3 fs-4">
        <label class="form-label fs-4" for="playlistUrl">Insira o URL da playlist do YouTube:</label>
        <p class="text-secondary mt-2 fs-4">
            No computador, procure pela playlist desejada no YouTube, clique em "VER PLAYLIST COMPLETA" e copie o URL da
            barra
            de endereços.
            Caso a playlist seja sua, acesse seu canal, clique em "PLAYLISTS", depois em "Ver playlist completa" e copie o
            URL
            da barra de endereços. Mais instruções para copiar o URL da playlist, como copiar o URL usando seu smartphone,
            podem
            ser encontradas na <a target="_blank"
                href="https://support.google.com/youtube/answer/57793?hl=pt-BR&ref_topic=9257598">documentação oficial do
                YouTube<span class="visually-hidden"> para copiar o URL de uma playlist</span></a>.
        </p>
        <input class="form-control fs-4" type="text" name="courseDashboard[playlistUrl]" id="playlistUrl">
    </div>
    <div>
        <button type="submit" class="btn btn-success fs-4">Criar dashboard</button>
    </div>
</form>

<%- include('../partials/footer'); -%>